@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

summary {
  @apply list-none cursor-pointer;
}

summary::marker {
  @apply after:content-[''];
}

summary::-webkit-details-marker {
  @apply hidden;
}