@layer components {
  .hero-title {
    @apply font-bold text-3xl md:text-5xl text-center lg:text-start text-blue-950 leading-snug md:leading-[1.1];
  }

  .title {
    @apply font-bold text-3xl md:text-[2rem] text-center text-blue-950 leading-snug md:leading-tight md:tracking-[0.00625em];
  }

  .subtitle {
    @apply text-blue-950 text-center leading-loose md:leading-[1.2] md:tracking-[0.0156em] font-bold text-2xl md:text-xl;
  }

  .text-description {
    @apply text-slate-400 text-center leading-relaxed md:leading-[1.55] font-normal md:text-lg;
  }

  .text-card {
    @apply text-slate-400 text-center md:text-[0.875rem] leading-relaxed md:leading-loose md:tracking-[0.0156em];
  }

  .text-menu-desktop {
    @apply uppercase text-blue-950 text-[0.875rem] leading-loose tracking-[0.0156em] font-normal;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-md px-3 md:px-6 py-2 md:py-2.5 md:text-sm leading-loose md:tracking-[0.0156em] font-medium transition-colors duration-200 cursor-pointer shadow-[0_0.5rem_0.5rem_-0.25rem_rgb(73_93_207/0.05)];
  }

  .btn-xs {
    @apply md:px-2.25 md:py-0.75;
  }

  .btn-primary {
    @apply bg-primary text-white font-bold hover:bg-blue-500;
  }

  .btn-secondary {
    @apply bg-gray-50 text-blue-950 font-bold hover:border-blue-600;
  }

  .btn-login {
    @apply bg-red-400 text-white inline-flex items-center justify-center rounded-[0.3125rem] py-1.5 px-[2.156rem] text-[0.875rem] leading-loose tracking-[0.0156em] font-medium uppercase transition-colors duration-200 cursor-pointer shadow-[0_0.5rem_0.5rem_-0.25rem_rgb(73_93_207/0.05)] hover:bg-red-500;
  }

  .tab:first-child {
    @apply border-t md:border-0 border-slate-200;
  }

  .tab {
    @apply relative flex justify-center border-b md:border-0 border-slate-200 py-5 font-bold text-slate-500 transition-colors duration-200 cursor-pointer;
  }

  .tab[aria-selected="true"] {
    @apply text-blue-950;
  }

  .tab span {
    @apply relative;
  }

  .tab span::after {
    content: "";

    @apply absolute
      left-1/2
      -translate-x-1/2
      -bottom-5
      h-1
      w-0
      bg-red-400
      transition-all
      duration-200
      md:hidden;
  }

  .tab[aria-selected="true"] span::after {
    @apply w-[120%];
  }

  .tab::after {
    content: "";

    @apply absolute
    hidden
    md:block
    bottom-0
    left-0
    h-1
    w-0
    bg-red-400
    transition-all
    duration-200;
  }

  .tab[aria-selected="true"]::after {
    @apply md:w-full;
  }

  .card {
    @apply w-full rounded-2xl shadow-[0_0.625rem_1.25rem_-0.3125rem_rgb(73_93_207/0.05)] py-8 md:py-6;
  }

  .card__body {
    @apply flex h-full flex-col gap-6 md:gap-4;
  }

  .card__header {
    @apply flex flex-col gap-8 md:gap-4 items-center justify-center;
  }

  .card__logo {
    @apply flex h-25 md:h-17.5 md:w-18 items-center justify-center;
  }

  .card__logo img {
    @apply h-full w-auto;
  }

  .faq-item:first-child {
    @apply pbs-0;
  }

  .faq-item {
    @apply border-b border-slate-200 py-4;
  }

  .faq-question {
    @apply flex justify-between items-center leading-relaxed font-bold text-blue-950;
  }

  .faq-question::after {
    content: "";
    mask: url("/assets/icons/icon-arrow.svg") center / contain no-repeat;
    -webkit-mask: url("/assets/icons/icon-arrow.svg") center / contain no-repeat;

    @apply w-4 h-2 shrink-0 bg-primary;
  }

  .faq-item[open] .faq-question::after {
    @apply rotate-180 bg-red-400;
  }

  .faq-answer {
    @apply pbs-4 font-light leading-loose text-slate-400;
  }

  .attribution {
    @apply text-center text-white text-xs;
  }

  @media (prefers-reduced-motion: reduce) {
    .tab span::after {
      @apply transition-none;
    }
  }
}
