@layer components {
  .title {
    @apply font-bold text-3xl md:text-5xl text-center text-blue-950 leading-snug md:leading-[1.1];
  }

  .subtitle {
    @apply text-blue-950 text-center leading-loose font-bold;
  }

  .text-description {
    @apply text-slate-400 text-center leading-relaxed md:leading-[1.55] font-normal md:text-lg;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-md px-3 py-2 text-sm leading-loose font-medium transition-colors duration-200 cursor-pointer shadow-[0_0.5rem_0.5rem_-0.25rem_rgb(73_93_207/0.05)];
  }

  .btn-primary {
    @apply bg-primary text-white font-bold hover:bg-blue-500;
  }

  .btn-secondary {
    @apply bg-gray-50 text-blue-950 font-bold hover:border-blue-600;
  }

  .tab:first-child {
    @apply border-t border-slate-200;
  }

  .tab {
    @apply relative flex justify-center border-b border-slate-200 py-5 font-medium text-slate-500 transition-colors duration-200 cursor-pointer;
  }

  .tab[aria-selected="true"] {
    @apply text-blue-950;
  }

  .tab span {
    @apply relative inline-block;
  }

  .tab span::after {
    content: "";

    @apply absolute
      left-1/2
      -translate-x-1/2
      -bottom-5
      h-1
      w-0
      bg-red-400
      transition-all
      duration-200;
  }

  .tab[aria-selected="true"] span::after {
    width: 120%;
  }

  .faq-item:first-child {
    @apply pbs-0;
  }

  .faq-item {
    @apply border-b border-slate-200 py-4;
  }

  .faq-question {
    @apply flex justify-between items-center leading-relaxed font-bold text-blue-950;
  }

  .faq-question::after {
    content: "";
    mask: url("/assets/icons/icon-arrow.svg") center / contain no-repeat;
    -webkit-mask: url("/assets/icons/icon-arrow.svg") center / contain no-repeat;

    @apply w-4 h-2 shrink-0 bg-primary;
  }

  .faq-item[open] .faq-question::after {
    @apply rotate-180 bg-red-400;
  }

  .faq-answer {
    @apply pbs-4 font-light leading-loose text-slate-400;
  }

  .attribution {
    @apply text-center text-white text-xs;
  }

  .link {
    @apply text-blue-400 underline decoration-[0.08em] underline-offset-[0.15em] transition-all duration-200;
  }

  .link:hover,
  .link:focus-visible {
    @apply decoration-[0.125em];
  }

  .link:focus-visible {
    @apply outline-2
      outline-blue-400
      outline-offset-2;
  }

  @media (prefers-reduced-motion: reduce) {
    .tab span::after {
      @apply transition-none;
    }
  }
}
